{% extends 'base.html' %}

{% block corpo %}

	
	<a href="/">Voltar</a>
	</br>
	</br>

	<h2>Lista Tipo Despesa</h2>
	

<table BORDER="1"  width='700px'>
	
	<thead>
		<th >
			Nome
		</th>
		<th width='15%'>
			Editar
		</th>
		<th width='15%'>
			Remover
		</th>
	</thead>
	{% for item in lista_itens %}

	<tbody>
		<tr>
			<td> 
				{{ item.nome}} 
			</td>
			<td width='15%' >
				<a href="/itemTipoDespesa/{{ item.id }}">EDITAR</a>
			</td>
			<td width='15%'>
				<a href="/removeTipoDespesa/{{ item.id }}">REMOVER</a>	
			</td>
		</tr>
	</tbody>
	
	{% empty %}
		<li style="color: rgb(255,0,0)">Sem itens na lista</li></br>
	{% endfor %}
	
</table>

{% endblock %}